
.bg_wrap{
  padding-top:1px;
}
.logo{
  width:17.325rem;
  height:1.2rem;
  background:url(../images/logo_yueda.png) no-repeat;
  background-size:100% 100%;
  display:block;
  margin-top:1.25rem;
}
.img_car{
  display:block;
  width:17.5rem;
  height:10rem;
  margin:0.5rem auto 0.125rem;
  border:1px solid #cccccc;
}
.select_wrap{
  display:block;
  width:17.5rem;
  height:2.25rem;
  border:1px solid #cccccc;
  margin:0 auto 0.375rem;
  text-indent:1.75rem;
  line-height: 2.25rem;
}
.select_1{
  background:#fff url(../images/icon_n1.png) 0.4rem center no-repeat;
  background-size:1rem 0.825rem;
}
.select_2{
  background:#fff url(../images/icon_n2.png) 0.4rem center no-repeat;
  background-size:1.15rem 0.825rem;
}
.select_3{
  background:#fff url(../images/icon_n3.png) 0.4rem center no-repeat;
  background-size:1.075rem 0.95rem;
}
.select_4{
  background:#fff url(../images/icon_n4.png) 0.4rem center no-repeat;
  background-size:1.1rem 0.825rem;
  text-indent:2rem;
}
.select_5{
  background:#fff url(../images/icon_n5.png) 0.4rem center no-repeat;
  background-size:1rem 1.025rem;
}
.select_6{
  background:#fff url(../images/icon_n6.png) 0.4rem center no-repeat;
  background-size:1.025rem 1.025rem;
  text-indent:2rem;
}
.select_7{
  background:#fff url(../images/icon_n7.png) 0.4rem center no-repeat;
  background-size:1.025rem 0.975rem;
  text-indent:2rem;
}
.select_8{
  background:#fff url(../images/icon_n8.png) 0.4rem center no-repeat;
  background-size:1.025rem 1rem;
  text-indent:2rem;
}
.jisuan_wrap{
  width:17.5rem;
  margin:0 auto 0.375rem;
}
.jisuan_a{
  width:8.25rem;
  height:2rem;
  text-align: center;
  line-height: 2rem;
  font-size:18px;
  color:#fff;
  background:#c70026;
}

.red{
  color:#c70026;
}
.jisuan_p{
  width:17.5rem;
  margin:0.5rem auto 1rem;
}